<html>
<head>
    <title>
        Petalos y Flores
    </title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>

    <div id="main">
        <div id="top">
            <div id="logo">
                <h1>
                    <a href="Default.aspx">Pétalos Y Flores</a>
                </h1>
                <p>
                    Programación Web
                </p>
            </div>
            <div id="divisor">
            </div>
        </div>
        <div id="center">
            <div id="content2">
                @RenderBody()
            </div>
        </div>
        <div id="bottom">
        </div>
    </div>
    <div id="footer">
        <p>
            Examen de Segunda Oportunidad U3
        </p>
    </div>

</body>
</html>