@model ExamenFlores3.Areas.Admin.Models.ViewModels.EliminarViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Layout";
}
<form>
    <h2 class="titulo">Eliminar una flor</h2>
    <br />
    <div class="entrada">

        <label>Nombre:</label><input  type="text" readonly /><br />

        <input type="submit" value="Si" />
        <a href="index.html"><input type="button" value="No" /></a>
        <div class="errores">@Html.ValidationSummary(true)</div>
    </div>

</form>